{% extends 'base.html' %} {% block content %}

    <ul>
        {% for allergy in allergies %}
            <li>{{ allergy.item_name }} : Concern {{ allergy.allergy }}</li>
        {% endfor %}
    </ul>

    <h2>Report Your Allergy</h2>
    <form action="/allergies" method="POST">
        <input type="text" name="item_name" placeholder="Item Name" required>
        <input type="text" name="allergy" placeholder="Allergy" required>
        <button type="submit">Report Allergy</button>
    </form>

{% endblock %}