{% extends 'base.html' %} {% block content %}
<h2>Seasonal Flavors</h2>
    <ul>
        {% for flavor in flavors %}
            <li>{{ flavor.name }} - {% if flavor.seasonal %} Seasonal {% else %} Regular {% endif %}</li>
        {% endfor %}
    </ul>
    <h2>Add New Flavor</h2>
    <form action="/flavors" method="POST">
        <input type="text" name="name" placeholder="Flavor Name" required>
        <label for="seasonal">Seasonal:</label>
        <input type="checkbox" name="seasonal" value="1">
        <button type="submit">Add Flavor</button>
    </form>

    
{% endblock %}

